.starrating > input {
    display: none;
}

.starrating > label:before {
    content: "★ ";
    margin: 2px;
    font-size: 2em;
    display: inline-block;
}

.starrating > label {
    color: #222222;
}

.starrating > input:hover ~ label {
    color: #ffca08;
}

.active ~ label {
    color: #ffca08;
}

.markdown {
    font-family: Segoe UI;
    padding: 0.5em;
    font-size: 120%;
    background-color: #efefef;
}

.markdown img {
    max-width: 100%
}

#markdown-attachment-list button:hover {
    background-color: #efefef;
    color: #333333;
}




