/* Source: https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/* First the Grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #0a3d62;
  color: #d9d9d9;
}

/* The Images */
.gallery-img {
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}
