Django==3.2.5
django-bootstrap4==3.0.1
django-cas-ng==4.2.1
django-debug-toolbar==3.2.1
django-fontawesome-5==1.0.18
django-imagekit==4.0.2
django-reversion==4.0.0
django-reversion-compare==0.14.1
django-split-settings==1.0.1
django-timezone-field==4.2.1
pdf2image==1.16.0
pillow==8.3.2
polib==1.1.1
python-magic==0.4.24
Markdown==3.3.6