Django==3.2.20
django-bootstrap5==23.1
fontawesomefree==6.4.0 # Makes static files (css, fonts) available locally
django-fontawesome-6==1.0.0.0 # Provides an icon field for models and forms as well as handy shortcuts to render icons
django-cas-ng==4.2.1
django-debug-toolbar==3.2.1
django-imagekit==4.0.2
django-reversion==4.0.0
django-reversion-compare==0.14.1
django-split-settings==1.0.1
django-timezone-field==4.2.1
isodate==0.6.1
pdf2image==1.16.0
pillow==9.3.0
polib==1.1.1
python-magic==0.4.24
markdown-it-py[linkify,plugins]==2.2.0
pdfkit==1.0.0

