{# Load the tag library #}
{% load i18n %}
{% load l10n %}


{% if compare_view %}
    <form method="GET" action="{{ action }}">
{% endif %}
{% if compare_view %}
    <table class="table table-borderless table-hover table-primary" id="change-history">
        <thead class="table-active">
        <tr>
            {% if compare_view %}
                <th scope="col">
                    {% if comparable %}
                        <button class="btn btn-primary add-item" type="submit">
                            {% trans 'Compare' %}
                        </button>
                    {% endif %}
                </th>
            {% endif %}
            <th scope="col">
                {% trans 'Date/time' %}
            </th>
            <th scope="col">
                {% trans 'User' %}
            </th>
            <th scope="col">
                {% trans 'Comment' %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for action in action_list %}
            <tr>
                {% if compare_view %}
                    <td scope="row">
                        {% if comparable %}
                            <div class="custom-control custom-radio">
                                <input type="radio" name="version_id1"
                                       value="{{ action.version.pk|unlocalize }}"
                                        {% if action.first %}
                                       style="visibility:hidden"
                                        {% endif %}
                                        {% if version1.pk|unlocalize == action.version.pk|unlocalize or action.second %}
                                       checked="checked"
                                        {% endif %}/>
                                <input type="radio" name="version_id2"
                                       value="{{ action.version.pk|unlocalize }}"
                                        {% if version2.pk|unlocalize == action.version.pk|unlocalize or action.first == 1 %}
                                       checked="checked"
                                        {% endif %}/>
                            </div>
                        {% endif %}
                    </td>
                {% endif %}
                <th scope="row">
                    {% if action.url %}
                        <a href="{{ action.url }}">
                            {{ action.revision.date_created|date:_("DATETIME_FORMAT") }}
                        </a>
                    {% else %}
                        {{ action.revision.date_created|date:_("DATETIME_FORMAT") }}
                    {% endif %}
                </th>
                <td>
                    {% if action.revision.user %}
                        {{ action.revision.user.get_username }}
                        {% if action.revision.user.get_full_name %}
                            ({{ action.revision.user.get_full_name }})
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ action.revision.comment|default:"" }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if compare_view %}
    </form>
{% endif %}