{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load cc_frontend_tags %}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Add Content' %} - Collab Coursebook
{% endblock %}

{% block imports %}
    {# Load CSS #}
    <link href="{% static 'css/content_detail.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {# Content form #}
    <form method="post" class="post-form" enctype=multipart/form-data>
        {# Topic #}
        <div class="form-group">
            <label for="topic">
                {% trans 'Topic' %}
            </label>
            <textfield
                    disabled
                    name="topic"
                    class="form-control"
                    style="height: 35px"
                    id="topic">{{ topic }}
            </textfield>
        </div>
        {% csrf_token %}
        {% if is_markdown_content %}
            <h6>You may add either a markdown file to upload directly or input markdown script yourself. If you do both the uploaded file will be prioritized and the script discarded.</h6>
        {% endif %}
        {% bootstrap_form content_type_form %}
        <br>
        {# Dynamic attachment for content types with attachments #}
        {% if attachment_allowed %}
            <div>
                <h2>
                    {% trans 'Image Attachments' %}
                </h2>
                {{ item_forms.management_form }}
                <div id="items-form-container">
                    {% for item_form in item_forms %}
                        <div id="item-{{ forloop.counter0 }}">
                            {{ item_form.id }}
                            {% bootstrap_form item_form %}
                        </div>
                    {% endfor %}
                </div>
                {# Attachments option #}
                <button id="add-item-button" class="btn btn-primary add-item">
                    {% trans 'Add attachment' %}
                </button>
                <button id="remove-item-button" class="btn btn-primary remove-item" style="visibility: hidden">
                    {% trans 'Remove attachment' %}
                </button>
            </div>
            <br>
        {% endif %}

        {% bootstrap_form form %}

        <br>

        {{ form.media }}

        {# Form option #}
        <div>
            <button type="submit"
                    class="btn btn-primary float-right">
                {% fa5_icon 'plus-circle' 'fas' %} {% trans 'Create' %}
            </button>
            <a href="{% url 'frontend:course' pk=course.pk %}" class="btn btn-danger">
                {% fa5_icon 'times' 'fas' %} {% trans 'Cancel' %}
            </a>
        </div>
    </form>

    {# Dynamic attachment template #}
    {% if attachment_allowed %}
        {% include 'frontend/content/dynamic_attachment.html' %}
    {% endif %}

    {# LaTeX embedded help for attachment #}
    {% if is_latex_content %}
        {% include 'frontend/content/attachment_embedding_help.html' %}
    {% endif %}
{% endblock %}

{% block bottom_script %}
    {# Script checkbox in YouTube video forms #}
    {%if is_yt_content%}
        {% include 'frontend/content/yt_video_times.html' %}
    {%endif%}
{%endblock%}