{# Load the tag library #}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}


{# Load JavaScript #}
<script type="text/javascript" src="{% static 'js/copy.js' %}"></script>

{# Tooltip content and preview button #}
<script type="text/html" id="latex-tooltip">
    <a onclick="popupTooltip()" class="btn">
        {% fa5_icon "question" "fas" size='fa-lg' %}
    </a>
    {# Preview button #}
    <button type="button" id="latex-preview-button" class="btn btn-primary mb-1" onclick="previewLatex()">
        <div id="latex-ready">
            {% trans 'Preview' %}
        </div>
        <div id="latex-loading" style="display:none;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {% trans 'Compiling...' %}
        </div>
    </button>
    <br>
    <div id="overlay" class="form-group" style="display: none">
        <label for="latex-tooltip-information">
            {% trans 'Instruction' %}
        </label>
        <textfield
                disabled
                name="topic"
                class="form-control"
                style="height: 20%"
                id="latex-tooltip-information">
            <h6>
                {% trans 'Information' %}
            </h6>
            {% blocktrans trimmed %}
                Please insert only the LaTeX code within the document body since the preamble and the configuration are
                already set. Do not include any packages.
            {% endblocktrans %}
            <br>
            <h6>
                {% trans 'Example' %}
            </h6>
            {% blocktrans trimmed %}
                Here is an example LaTeX code which can be copied by pressing the following button:
            {% endblocktrans %}
            <br>
            <button type="button" class="btn btn-info"
                    onclick="copy('{{ latex_tooltip }}')">{% trans 'Copy Example' %}
            </button>
            <br>
            <br>
            <h6>
                {% trans 'Embedded attachment' %}
            </h6>
            {% trans 'Command:' %} \includegraphics[option]{Image-i}
            <ul>
                <li>
                    option: {% trans 'LaTeX specific options' %}
                </li>
                <li>
                    i: {% trans 'The number of the attachment. The first attachment you upload has the number 0.' %}
                </li>
                <li>
                    {% trans 'Example' %}: \includegraphics[width=\textwidth]{Image-0}
                </li>
            </ul>
            {% blocktrans trimmed with copy='"copy"' %}
                If you add an attachment, you can click on the {{ copy }} button to copy the LaTeX-code to use it as an
                embedded attachment in your code.
            {% endblocktrans %}
        </textfield>
    </div>
</script>

<script type="text/javascript">
    /**
     * Shows or hides the popup tooltip depending its previous state. If it was unhidden,
     * then it will be hidden after this calls and vice versa.
     */
    function popupTooltip() {
        const element = document.getElementById("overlay");
        element.style.display = element.style.display === "block" ? "none" : "block";
    }

    /**
     * Registers the tooltip to the given id.
     *
     * @param id the id where the tooltip should be registered
     * @param tooltip the tooltip to be registered
     */
    function registerTooltip(id, tooltip) {
        document.getElementById(id).outerHTML =
            tooltip +
            document.getElementById(id).outerHTML
    }

    $(document).ready(function () {
        // Register
        const tooltip = document.getElementById("latex-tooltip")
        registerTooltip("id_textfield", tooltip.textContent);
    });
</script>
