{# Load the tag library #}
{% load static %}
{% load i18n %}

{# TODO  needs to be refactored #}
{# CSS #}
<link href="{% static 'css/popup.css' %}" type="text/css" rel="stylesheet"/>

<script>
    const popup_field = '<div class="popup">{% fa5_icon "question" "fas" %}' +
        '<span class="popuptext" id="myPopup"> ' +
        '{% trans "In order to include an attached image i in your latex file, use"%}' +
        ' \"Image-i\" ' +
        '{% trans "inside" %}' +
        ' \\includegraphics ' +
        '{% trans "instead of the actual path. Be aware that the image count begins at 0. Example:"%}' +
        ' \\includegraphics[width=\\textwidth]{Image-0}' +
        '</span>' +
        '</div>';

    document.getElementById("id_textfield").outerHTML = "&nbsp;&nbsp;" + popup_field +
        document.getElementById("id_textfield").outerHTML

    $(".popup").click(function () {
        var popup_intern = document.getElementById("myPopup");
        popup_intern.classList.toggle("show");
    });
</script>
