{# Load the tag library #}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}


{# Load CSS #}
<link href="{% static 'css/popup.css' %}" type="text/css" rel="stylesheet"/>

<div id="latex-tooltip" class="popup">
    {% fa5_icon "question" "fas" %}
    <span class='popuptext' id='latex-tooltip-popup'>
    {% trans 'In order to include an attached image i in your latex file, use' %} Image-i {% trans 'inside' %} {% trans 'instead of the actual path. Be aware that the image count begins at 0. Example:' %} \includegraphics[width=\textwidth]{Image-0}
    </span>
</div>

<script type="text/javascript">
    /**
     * Registers the tooltip to the given id.
     *
     * @param id the id where the tooltip should be registered
     * @param tooltip the tooltop to be registered
     */
    function registerTooltip(id, tooltip) {
        document.getElementById(id).outerHTML =
            "&nbsp;&nbsp;" +
            tooltip +
            document.getElementById(id).outerHTML
    }

    $(document).ready(function () {
        // Register
        registerTooltip("id_textfield", document.getElementById("latex-tooltip").outerHTML);

        // Show popup on click
        $(".popup").click(function () {
            const information = document.getElementById("latex-tooltip-popup");
            information.classList.toggle("show");
        });
    });
</script>
