{# Load the tag library #}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{# Load JavaScript #}
<script type="text/javascript" src="{% static 'js/copy.js' %}"></script>
<script type="text/javascript" src="{% static 'js/attachment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>

<script>
    // Add attachment
    $(".add-item").click(function (event) {
        addAttachment(event);
        markRequired("form-group");
    });
    // Remove attachment
    $(".remove-item").click(function (event) {
        removeAttachment(event);
        markRequired("form-group");
    });
</script>

<script type="text/html" id="item-template">
    <div id="item-__prefix__">
        <table class="table table-borderless">
            {% bootstrap_form item_forms.empty_form %}
            {% if is_latex_content %}
                <button type="button" class="btn btn-info"
                        onclick="copyEmbeddedAttachment(this)">{% trans 'Copy Attachment-Embedding Code' %}
                </button>
                </table>
            {% elif is_markdown_content %}
                <button type="button" class="btn btn-info"
                        onclick="md_generateRelativeImagePath(this)">{% trans 'Copy Attachment-Embedding Code' %}
                </button>
                </table>
            {% endif %}
    </div>
</script>

<script type="text/javascript">
    /**
     * Copies the clicked embedded attachment and returns its command which can be inserted
     * in the LaTeX code to add embedded attachments.
     *
     * @param element the button to copy enable the copy option
     */
    function copyEmbeddedAttachment(element) {
        const parent = element.parentElement;
        const id = parent.id.replace("item-", "");
        const command = "\\includegraphics[width=\\textwidth]{Image-" + id + "}";
        copy(command);
    }
</script>

<script type="text/javascript">
    /**
     * Generates markdown command to embed image attachment in content then sends it to the clipboard.
     * The path to the image is a relative path.
     * @param element the button that this function is bound to.
    */
    function md_generateRelativeImagePath(element) {
        const parent = element.parentElement;
        const id = parent.id.replace("item-", "");
        const command = "![](Image-" + id + ")";
        copy(command);
    }
</script>
