{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load JavaScript #}
<script type="text/javascript" src="{% static 'js/attachment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>

<script>
    // Add attachment
    $(".add-item").click(addAttachment);
    // Remove attachment
    $(".remove-item").click(removeAttachment);
</script>

<script type="text/html" id="item-template">
    <div id="item-__prefix__">
        <table class="table table-borderless">
            {% bootstrap_form item_forms.empty_form %}
        </table>
    </div>
    {# Required marker #}
    <script type="text/javascript">
        markRequired('form-group');
</script>
</script>
