{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load cc_frontend_tags %}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}

{% block imports %}
<link href="{% static 'css/content_detail.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form method="post" enctype=multipart/form-data>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_form content_type_form %}

    <br>

    {% if attachment_allowed %}
    <div>
        <h2 style="font-weight: bold" align="center">
            {% trans 'Image Attachments' %}
        </h2>
        {% bootstrap_form attachment_form %}
        {{ item_forms.management_form }}
        <div id="items-form-container">
            {% for item_form in item_forms %}
            <div id="item-{{ forloop.counter0 }}">
                {{ item_form.id }}
                {% bootstrap_form item_form %}
            </div>
            {% endfor %}
        </div>
        <button id="add-item-button" class="btn btn-primary add-item">
            {% trans 'Add attachment' %}
        </button>
        <button id="remove-item-button" class="btn btn-primary remove-item">
            {% trans 'Remove attachment' %}
        </button>
    </div>
    {% endif %}

    <br>

    {{ form.media }}

    <div>
        <button type="submit" class="btn btn-primary float-right">
            {% fa5_icon 'plus-circle' 'fas' %} {% trans 'Save' %}
        </button>
        <a href="{% url 'frontend:content' course_id topic_id content.id %}" class="btn btn-danger">
            {% fa5_icon 'times' 'fas' %} {% trans 'Cancel' %}
        </a>
    </div>
</form>

{% if attachment_allowed %}
{% include 'frontend/content/dynamic_attachment.html' %}
{% endif %}

{% if is_latex_content %}
{% include 'frontend/content/attachment_embedding_help.html' %}
{% endif %}
{% endblock %}
