{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load cc_frontend_tags %}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}

{% block imports %}
    <link href="{% static 'css/reversion.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block content %}

    <a href="javascript:history.go(-1)"
       class="btn btn-secondary">{% fa5_icon 'chevron-circle-left' 'fas' %} {% trans "Back" %}</a>

    <h2 style="font-weight: bold" align="center"> {% trans "History" %} </h2>

    {% include "reversion-compare/action_list_partial.html" %}

    {% if request.GET.version_id1 %}
        {% include "reversion-compare/compare_partial.html" %}
        {% include "reversion-compare/compare_links_partial.html" %}
    {% endif %}

{% endblock content %}
