{# Load the tag library #}
{% load fontawesome_6 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{# jsi18n #}
<script type="text/javascript" src="{% url 'frontend:javascript-catalog' %}"></script>
{# Script and css for editor #}
    {# Use either local version or latest version of the editor #}
    {# Local version of editor #}
        <link href="{% static 'css/toastui-editor.min.css' %}" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'js/toastui-editor-all.min.js' %}"></script>
    {# Latest version of editor #}
        {# <link href="https://uicdn.toast.com/editor/latest/toastui-editor.css" type="text/css" rel="stylesheet"/> #}
        {# <script type="text/javascript" src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script> #}
    {# Languages for editor #}
        <script src="https://uicdn.toast.com/editor/latest/i18n/de-de.js"></script>
        <script type="text/javascript" src="{% static 'js/md_editor.js' %}"></script>
{% if is_add_form %}
    {# Script for radio buttons in MD add form #}
    <script type="text/javascript" src="{% static 'js/md_form.js' %}"></script>
    <script type="text/html" id="md-file-preview">
        <button type="button" id="md-preview-button" class="btn btn-primary ms-1" onclick="copyFileContentToEditor()">
        <div id="md-ready">
            {% trans 'View File Content in Editor' %}
        </div>
        <div id="md-loading" style="display:none;">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {% trans 'Reading...' %}
        </div>
        </button>
    </script>
{% endif %}

{% comment %}
    Editor should always be initialized before buttons,
    because when buttons are initialized the text window will be detached from the document.
{% endcomment %}

<script type="text/javascript">
    const FILE_BUTTON = document.getElementById("id_options_0");
    const TEXT_BUTTON = document.getElementById("id_options_1");
    $(function(){
        // Init list of allowed_extensions
        {% for extension in allowed_extensions %}
            addAllowedExtensions('{{ extension }}');
        {% endfor %}
        // Init editor
        args = {
            previewStyle: "vertical",
            height: "450px",
            initialEditType: "markdown",
            previewHighlight: false,
            placeholder: gettext("Markdown Script"),
            language: '{{ LANGUAGE_CODE }}',
        }
        initEditor(args);
        {% if is_add_form %}
            // Init buttons for add form
            // Button to copy file content to editor
            const mdPreviewButton = document.getElementById('md-file-preview').textContent;
            $('label[for="id_md"]').after(mdPreviewButton);
            // Init options buttons
            FILE_BUTTON.addEventListener('click',() => {changeForm('id_textfield');});
            TEXT_BUTTON.addEventListener('click',() => {changeForm('id_md');});
            if (FILE_BUTTON.checked)
                changeForm('id_textfield');
            else if (TEXT_BUTTON.checked)
                changeForm('id_md');
        {% else %}
            // Create attachment files in the browser for the existing attachments
            generateExistingAttachmentURLs();
            updateAttachmentLinks();
        {% endif %}
    });
</script>

