{% extends 'frontend/base.html' %}

{% load i18n %}
{% load cc_frontend_tags %}
{% load static %}

{% block imports %}
    <link href="{% static 'css/gallery_detail.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Reading Mode' %} - Collab Coursebook
{% endblock %}

{% block general_content %}
    <div class="container-fluid" style="background-color: #0a3d62;padding-top:2em;padding-bottom:2em;color:#ffffff;">
        <div class="container" style="border-top: 0.5em solid #ffffff;padding-top:1em;text-align: center">
            <a href="{% url 'frontend:content' course_id topic_id content.id %}" class="btn btn-primary float-left"
               style="margin: 5px">
                {% trans 'Close' %}
            </a>
            <h3 class="d-inline-block">
                {{ content }}
            </h3>
            <a href="{% url 'frontend:content-reading-mode' course_id topic_id next_id %}"
               class="btn btn-primary d-inline-block float-right" style="margin: 5px">
                {% trans 'Next content' %}
            </a>
            <a href="{% url 'frontend:content-reading-mode' course_id topic_id previous_id %}"
               class="btn btn-primary d-inline-block float-right" style="margin: 5px">
                {% trans 'Previous content' %}
            </a>
        </div>
    </div>

    {% include content.type|content_reading %}

    {# Attachment gallery #}
    {% include 'frontend/content/reading_mode_attachment.html' %}
{% endblock %}
