{% load i18n %}

<script type="text/javascript">
    /**
 * Changes the states of the start and end element input fields to visible or invisible depending on their current state and
 * resets their values if setting them to invisible.
 */
function changeState() {
    let startElement = document.getElementById("id_startTime").parentElement;
    let endElement = document.getElementById("id_endTime").parentElement;
    let label = document.getElementById("times-label");
    startElement.style.display = startElement.style.display === "block" ? "none" : "block"; 
    endElement.style.display = endElement.style.display === "block" ? "none" : "block";
    label.style.display = label.style.display === "block" ? "none" : "block";

    if (startElement.style.display === "none") document.getElementById("id_startTime").value = 0;
    if (endElement.style.display === "none") document.getElementById("id_endTime").value = 0;
}

/**
 * Adds a listener to the checkbox with changeState() and initializes the input fields as invisible unless either has a 
 * non-zero value
 */
function initYouTubeButton() {
    let checkBox = document.getElementById("id_option");
    checkBox.addEventListener('click',changeState);

    let startElement = document.getElementById("id_startTime");
    let endElement = document.getElementById("id_endTime");

    let innerHTML = "<label id='times-label'>{% trans 'Leave fields at 0 for the start/end of the video.' %}</label>"

    const div = document.createElement("div");
    checkBoxDiv = checkBox.parentElement
    div.innerHTML = innerHTML
    
    checkBoxDiv.parentNode.insertBefore(div.firstChild, checkBoxDiv.nextSibling)

    let label = document.getElementById("times-label");

    startElement.parentElement.style.display = "none"
    endElement.parentElement.style.display = "none"
    label.style.display = "none"

    valStartTime = startElement.value
    valEndTime = endElement.value

    if (valStartTime > 0 || valEndTime > 0) {
        checkBox.checked = true;
        changeState();
    }

}
initYouTubeButton();
</script>