{# Load the tag library #}
{% load static %}
{% load i18n %}

{% get_current_language as lang %}

<section>
    <h3> {% trans 'Add Content' %} </h3>
    {% with path='tutorial/'|add:lang|add:'/7.add latex.jpg' %}
        <img src="{% static path %}" class="img-fluid" alt="add content"/>
    {% endwith %}
    <div>
        <p>
            {% blocktrans trimmed %}
                After selecting “ADD CONTENT” on the course site, you can choose a type of the content which you want to
                create.
                <ul>
                    <li>
                            PDF
                    </li>
                    <li>
                            Text
                    </li>
                    <li>
                            LaTeX
                    </li>
                    <li>
                            YouTube
                    </li>
                    <li>
                            Bild
                    </li>
                    <li>
                            Panopto
                    </li>
                    <li>
                            Exercise
                    </li>
                    <li>
                            General URL
                    </li>
                    <li>
                            Anki Deck
                    </li>
                </ul>
                Here we choose LaTeX content as an example:
            {% endblocktrans %}
        </p>
        <ul>
            <li>
                {% blocktrans trimmed %}
                    in ① you can click on the “?” to see detailed instruction for the latex code field.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    in ② you can select “ADD ATTACHMENT” to select an image file from your local computer as an
                    attachment to this content.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    after you click on “ADD ATTACHMENT” there will also appear a “REMOVE ATTACHMENT” button, which
                    allows you to remove the last attachment.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    in ③ you can determine wether or not other users can edit this content.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    in ④ you can mark a content as publicly visible. This means that the
                    content will be visible to all users, even if they are not logged in.
                    <div class="alert alert-primary" role="alert">
                        <strong>Note:</strong> This option is affects only courses that are publicly visible.<br>
                        Please keep in mind that it is not usefull to mark content as public if the
                        content requires a login to be viewed, e.g. the mjority of Panopto videos.
                    </div>
                {% endblocktrans %}
            </li>
        </ul>
    </div>
</section>
