{# Load the tag library #}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

    <section>
        <h3> {% trans 'Content' %} </h3>
        <div>
            <p>
                {% blocktrans %}
                    Click on any content on the course page in order to view details. Similar to the course page, you can also click on an “ACTIONS” menu to access several main functions:
                {% endblocktrans %}
            </p>
            <ul>
                <li>
                    {% blocktrans %}
                        reading mode
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        add or remove content from coursebook (the changes should be noticeable on the course page)
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        edit, similar to section “Add Content”
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        view history, similar to section “History”
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                        delete
                    {% endblocktrans %}
                </li>
            </ul>
        </div>
    </section>