{# Load the tag library #}
{% load static %}
{% load i18n %}

<section>
    <h3> {% trans 'Content' %} </h3>
    <div>
        <p>
            {% blocktrans trimmed %}
                A content represents a multimedia element, which can consist of a text or a valid file format. 
                A content is assigned to a course.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Click on any content on the course page in order to view details. Similar to the course page, you can
                also click on an “ACTIONS” menu to access several main functions:
            {% endblocktrans %}
        </p>
        <ul>
            <li>
                {% blocktrans trimmed %}
                    Reading mode
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    In case you are a moderator, you can also access the following functions:
                    <ul>
                        <li>Audit the content (see more in section “Course”)</li>
                    </ul>
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    In case you are a moderator, you can also access the following functions:
                    <ul>
                        <li>Audit the content (see more in section “Course”)</li>
                    </ul>
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    Add or remove content from coursebook (the changes should be noticeable on the course page)
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    Edit, similar to section “Add Content”
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    View history, similar to section “History”
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans trimmed %}
                    Delete
                {% endblocktrans %}
            </li>
        </ul>
    </div>
</section>