{# Load the tag library #}
{% load static %}

{# Load JavaScript #}
{# TODO Must be imported to use ajaxSetup and ajax, maybe store it locally? #}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/notification.js' %}"></script>


<div id='notification' class="alert alert-dismissible" style="display: none">
    <button onclick='hideNotification()' type="button" class="close">
        &times;
    </button>
    <div id="notification-message">
        {# Insert message here #}
    </div>
</div>
