{% load i18n %}

{% load fontawesome_5 %}

<div class="text" style="font-family: Segoe UI; padding: 0.5em; font-size: 120%; background-color: #efefef">
    {% autoescape off %}
    {{html}}
    {% endautoescape %}
</div>


<b>
    {% trans 'Source' %}:
</b>
<p>
    {{ content.mdcontent.source }}
</p>

<form action="{{ content.mdcontent.md.url }}" method="get" target="_blank">
    {% csrf_token %}
    <button name="action" value="submit" class="btn btn-outline-primary">
        {% fa5_icon 'download' 'fas' %} {% trans 'Download' %}
    </button>
</form>


