{% load i18n %}

{% load fontawesome_5 %}

<div class="markdown">
    {% autoescape off %}
    {{html}}
    {% endautoescape %}
</div>

<script type="text/javascript">
    $('table','.markdown').attr('class','table table-striped');
</script>

<b>
    {% trans 'Source' %}:
</b>
<p>
    {{ content.mdcontent.source }}
</p>

<form action="{{ content.mdcontent.md.url }}" method="get" target="_blank">
    {% csrf_token %}
    <button name="action" value="submit" class="btn btn-outline-primary">
        {% fa5_icon 'download' 'fas' %} {% trans 'Download' %}
    </button>
</form>


