{# Load the tag library #}
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% load cc_frontend_tags %}

<div class="mt-3" style="margin: 40px 0;">
    {% with user|get_coursebook:course as topic_contents %}
        {% if topic_contents|length > 0 %}
            <a href="{% url 'frontend:coursebook-generate' course.id %}" target="_blank"
               class="btn btn-primary float-right text-right">
                {% trans 'Export' %}
            </a>
        {% endif %}
        <button class="btn btn-primary float-left mr-1" type="button" data-toggle="collapse"
                data-target="#collapseCoursebook"
                aria-expanded="false" aria-controls="collapseCoursebook">
            {% fa5_icon 'bars' 'fas' %}
        </button>
        <h2 style="margin: 20px 0;">
            {% trans 'Coursebook' %}
        </h2>
        <div class="collapse show" id="collapseCoursebook">
            <div class="card card-body">
                {% if topic_contents|length > 0 %}
                    {% include 'frontend/course/topic_contents.html' %}
                {% else %}
                    <p>
                        {% trans 'Your coursebook is empty. You can add contents here via the add content page or directly from the overview and then export them all at once in the PDF format.' %}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endwith %}
</div>
