{# Load the tag library #}
{% load i18n %}
{% load django_bootstrap5  %}
{% load fontawesome_6 %}
{% load cc_frontend_tags %}

<div class="float-end text-end">
    <div class="dropdown show">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% trans 'Add Content' %}
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            {% if user.is_authenticated %}
                {% for content in content_data %}
                    <a class="dropdown-item"
                       href="{% url 'frontend:content-add' course_id=course_id topic_id=topic_id type=content.0 %}">
                        {% trans content.1 %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
