{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load cc_frontend_tags %}
{% load fontawesome_5 %}
{% load static %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block imports %}
    <!-- Must be imported to use ajaxSetup and ajax, maybe store it locally? -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'nestable2/jquery.nestable.js' %}"></script>
    <script type="text/javascript" src="{% static 'nestable2/dist/jquery.nestable.min.js' %}"></script>
    <link href="{% static 'nestable2/dist/jquery.nestable.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/edit_structure.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Edit' %} - {{ course.title }}
{% endblock %}

{% block content %}

    <div style="text-align: center">
        <h2 style="font-weight: bold">
            {% trans 'Edit Course Structure' %}
        </h2>
    </div>

    <div style="display: inline-block;width:49.5%">
        <!-- Topic combobox -->
        {% bootstrap_form topics %}
        <button onclick="$('#nestable3').nestable('expandAll');" class="btn btn-primary">
            {% fa5_icon 'expand' %} {% trans 'Expand All' %}
        </button>
        <button onclick="$('#nestable3').nestable('collapseAll');" class="btn btn-primary">
            {% fa5_icon 'compress' %} {% trans 'Collapse All' %}
        </button>
        <button onclick="addTopic()" class="btn btn-primary">
            {% fa5_icon 'plus' 'fas' %} {% trans 'Add Topic' %}
        </button>
    </div>

    <!-- Vertical dividing line -->
    <div class="vl"></div>
    &nbsp;


    <div style="display: inline-block;width:49.5%">
        <form method="post" id="post-form-topic" class="post-form" enctype=multipart/form-data>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
                {% fa5_icon 'plus' 'fas' %} {% trans 'Create Topic' %}
            </button>
        </form>
    </div>

    <br><br>

    <!-- Structure Editor -->
    <div class="container-fluid">
        <div class="row">
            <!-- Nestable listing -->
            <div class="cf nestable-lists">
                <div class="dd" id="nestable3">
                    <ol class="dd-list" id="dd-empty-placeholder">
                        <!-- Insert elements here -->
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <br>

    <button onclick="cancel()" class=" btn btn-primary">
        {% fa5_icon 'chevron-circle-left' 'fas' %} {% trans 'Back' %}
    </button>
    <button onclick="save()" type="submit" class="btn btn-primary">
        {% fa5_icon 'save' %} {% trans 'Save' %}
    </button>
    <script>
        // Convert JSON containing topics to String
        const json_obj = JSON.stringify({{ structure|safe }});

        // Max list depth
        const depth = 2;

        // Track newly created topics
        const track = [];

        /**
         * Generates the menu list item for the item (topic).
         * @param item item to be added to the list
         * @returns {string} html list item
         */
        function buildItem(item) {
            // HTML code
            let html = "<li class='dd-item dd3-item' data-id='" + item.id + "'>";
            html += "\n";
            // Drag option
            html += "<div class='dd-handle dd3-handle'>Drag</div>";
            html += "\n";
            // Remove option
            html += "<a href='#' class='close close-assoc-file' data-dismiss='alert' aria-label='close'>&times;</a>"
            html += "\n";
            html += "<div class='dd3-content'>" + item.value + "</div>";

            // Sub topics
            if (item.children) {
                html += "<ol class='dd-list'>";
                $.each(item.children, function (index, sub) {
                    html += buildItem(sub);
                });
                html += "</ol>";
            }
            html += "</li>";
            return html;
        }

        /**
         * Appends the new topic to the last of the nestable list.
         *
         * @param value the given topic to append
         * @param id id of the topic
         */
        function addItem(value, id) {
            // Creates item
            const item = {value: value, id: id}

            // Adds to HTML
            const placeholder = document.getElementById('dd-empty-placeholder');
            placeholder.innerHTML += buildItem(item);
        }

        /**
         * Parses the items from the string
         * @param obj the json object to be parsed
         */
        function parseItems(obj) {
            // Parses json, dynamically generate a nestable list
            const placeholder = document.getElementById('dd-empty-placeholder');
            $.each(JSON.parse(obj), function (index, item) {
                // Adds to HTML
                placeholder.innerHTML += buildItem(item);
            });
        }

        /**
         * Removes the clicked item for the nestable list.
         * @param event event
         */
        function removeItem(event) {
            // Finds the closest list item to the clicked location
            const element = $(this).closest('li')
            // Removes the element with the given id
            const id = element.attr('data-id');
            $("#nestable3").nestable('remove', id);
        }

        /**
         * Adds the selected topic to the nestable list.
         */
        function addTopic() {
            // Gets the selected topic
            const element = document.querySelector('#id_topic_name');
            const selected = element.options[element.selectedIndex];
            const id = selected.value;
            const topic = element.options[element.selectedIndex].textContent;
            const data = $("#nestable3").nestable('serialize');

            // Checks if topic is valid to be added
            if (!isTopicValid(id, topic, data)) {
                return;
            }

            addItem(topic, id);
        }

        /**
         * Checks if the topic could be added in the given data, that means there exists no topic with the same id or title.
         *
         * @param id id of the topic
         * @param topic the given topic title
         * @param data the data to be checked
         *
         * @return true if the topic could be added
         */
        function isTopicValid(id, topic, data) {
            // Skip if no selection is present
            if (id === "") {
                return false;
            }
            // id must be an integer to be compared
            id = parseInt(id);

            // Checks if the content already exists
            const contents = $(document).find('.dd3-content').text()
            if (contents.includes(topic)) {
                return false;
            }

            // Checks all nodes
            for (let i = 0; i < data.length; i++) {
                const entry = data[i];
                // Duplicates id
                if (entry['id'] === id) {
                    return false;
                }
                // Sub topics
                else if (entry['children'] !== undefined) {
                    if (!isTopicValid(id, topic, entry['children'])) {
                        return false;
                    }
                }
            }
            return true;
        }

        /**
         * Retrieve the cookie from the document.
         *
         * @param name the name of the cookie to be searched
         * @return {null} the cookie if it was found
         */
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        /**
         * Configures the post information with the newly created topic. The topic will be stored in backend
         * if possible and if it is successfully stored in the backend add it to the select field.
         * @return {boolean} false if the form is not valid
         */
        function create(event) {
            event.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            const topic = document.getElementById('id_title');
            const category = document.getElementById('id_category');
            $.ajax({
                url: '{% url 'frontend:course-edit-structure' course.id %}',
                type: 'POST',
                data: {'title': topic.value, 'category': category.value},

                success: function (data) {
                    const json = JSON.parse(JSON.stringify(data));
                    const topic_id = json.topic_id;
                    const topics = json.topics;

                    // Tracking newly created topics
                    track.push(topic_id);
                    console.log(topic_id);

                    // Ordered entries
                    const select = document.getElementById('id_topic_name');

                    for (let i = 0; i < topics.length; i++) {
                        const entry = topics[i];
                        const id = entry.id;
                        const topic = entry.title;
                        select.options[i + 1] = new Option(topic, id);
                        if (topic_id === id) {
                            select.selectedIndex = i + 1;
                        }
                    }
                },
                error: function (data) {
                    alert('{% trans "Fehler bei der Datenübertragung zum Server - Status:" %}' + ' ' + data.status);
                }
            });
        }

        /**
         * Configures the post information canceling all created topics.
         */
        function cancel() {
            for (let i = 0; i < track.length; i++)
                console.log(track[i]);
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            $.ajax({
                url: '{% url 'frontend:course' course.id %}',
                type: 'POST',
                data: {'ids': track},

                success: function () {
                    window.location.href = "{% url 'frontend:course' course.id %}"
                },
                error: function (data) {
                    alert('{% trans "Fehler bei der Datenübertragung zum Server - Status:" %}' + ' ' + data.status);
                }
            });
        }

        /**
         * Configures the post information with the serialized nestable data.
         */
        function save() {
            const nestable = $('#nestable3').nestable('serialize');
            const json_obj = window.JSON.stringify(nestable);
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            $.ajax({
                url: '{% url 'frontend:course' course.id %}',
                type: 'POST',
                data: {'topic_list': json_obj, 'ids': track},
                ContentType: 'application/json',

                success: function (data) {
                    window.location.href = "{% url 'frontend:course' course.id %}"
                },
                error: function (data) {
                    alert('{% trans "Fehler bei der Datenübertragung zum Server - Status:" %}' + ' ' + data.status);
                    alert(json_obj);
                }
            });
        }

        $(document).ready(function () {

            /* Parsing */

            parseItems(json_obj);

            // Activate nestable
            $('#nestable3').nestable({maxDepth: depth});

            /* Register actions */

            // Defines actions on remove click
            $('#dd-empty-placeholder').on('click', '.close', removeItem);

            $('#post-form-topic').on('submit', create)
        });
    </script>

{% endblock %}