{# Load the tag library #}
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% load cc_frontend_tags %}
{% load static %}

<div class="card-deck add_scroll_horizontal" style="padding-bottom: 20px;margin-top: 15px;margin-bottom: 15px;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% for content in topic_contents %}
                <div class="card card_style" style="">
                    <div class="card-img-top" style="position: relative; text-align: center; color: black">
                        <a href="{% url 'frontend:content' course.pk content.topic.pk content.pk %}">
                            {% include content.type|content_card %}
                            <div class="card-body" style="">
                                <p>
                                    {{ content.description|truncatechars:40 }}
                                </p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <span class="badge badge-primary">
                                {{ content.language }}
                            </span>
                            {% if content.tags.count > 0 %}
                                &middot;
                                {% for tag in content.tags.all %}
                                    <span class="badge badge-secondary">
                                        {{ tag }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                            {% if content.get_rate != -1 %}
                                &middot;
                                <span class="badge badge-info">
                                    {% fa5_icon 'star' 'fas' %} {{ content.get_rate }}
                                </span>
                                &middot;
                                <span class="badge badge-info">
                                    {% fa5_icon 'hashtag' 'fas' %} {{ content.get_rate_amount }}
                                </span>
                            {% endif %}
                                &middot;
                            <a class= "badge badge-primary" 
                            href="{% url 'frontend:content-reading-mode' course.pk content.topic.pk content.pk %}{% if ending %}{{ ending }}{% endif %}">
                                {% fa5_icon 'eye' 'far' %}
                            </a>
                            &middot;
                            {% if user.is_authenticated %}
                            {% if content in favorite %}
                            <a class="badge badge-primary"
                                href="{% url 'frontend:coursebook-remove-courseview' course.pk content.topic.pk content.pk %}">
                                {% fa5_icon 'minus' 'fas' %}
                            </a>
                            {% else %}
                            <a class="badge badge-primary"
                                href="{% url 'frontend:coursebook-add-courseview' course.pk content.topic.pk content.pk %}">
                                {% fa5_icon 'plus' 'fas' %}
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
