{% load i18n %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% load cc_frontend_tags %}
{% load static %}

<div class="card-deck add_scroll_horizontal" style="padding-bottom: 20px;margin-top: 15px;margin-bottom: 15px;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% for content in topic_contents %}
                <div class="card card_style" style="">
                    <div class="card-img-top" style="position: relative; text-align: center; color: black">
                        <a href="{% url 'frontend:content' course.pk content.topic.pk content.pk %}">
                            {% include content.type|content_card %}
                            <div class="card-body" style="">
                                <p>
                                    {{ content.description|truncatechars:40 }}
                                </p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <span class="badge badge-primary">
                                {{ content.language }}
                            </span>
                            {% if content.tags.count > 0 %}
                                &nbsp;&middot;&nbsp;
                                {% for tag in content.tags.all %}
                                    <span class="badge badge-secondary">
                                        {{ tag }}
                                    </span>
                                {% endfor %}
                            {% endif %}
                            {% if content.get_rate != -1 %}
                                &nbsp;&middot;&nbsp;
                                <span class="badge badge-info">
                                    {% fa5_icon "star" "fas" %} {{ content.get_rate }}
                                </span>
                                &nbsp;&middot;&nbsp;
                                <span class="badge badge-info">
                                    {% fa5_icon "hashtag" "fas" %} {{ content.get_rate_amount }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
