{% extends 'frontend/base_logged_in.html' %}

{% load i18n %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% load cc_frontend_tags %}
{% load static %}


{% block title %}
    {{ course.title }} - Collab Coursebook
{% endblock %}

{% block imports %}
    {# CSS #}
    <link href="{% static 'css/view_course.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {# Course markings and actions #}
    <div class="float-right text-right">
        <div class="dropdown show">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% trans "Actions" %}
            </button>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                {% if user.is_authenticated %}
                    <a class="dropdown-item"
                       href="{% url 'frontend:favourite_course' pk=course.pk %}">
                        {% if course in user.profile.stared_courses.all %}{% fa5_icon 'bookmark' 'fas' %}
                            {% trans "Remove from favourite" %}
                            {% else %}{% fa5_icon 'bookmark' 'far' %} {% trans "Add to favourite" %}{% endif %}</a>
                    {% if user.is_superuser or isCurrentUserOwner %}
                        <a href="{% url 'frontend:course-duplicate' pk=course.pk %}"
                           class="btn btn-warning">{% fa5_icon "copy" "fas" %} {% trans "Duplicate Course" %}</a>
                    {% endif %}

                    <div class="dropdown-divider">

                    </div>

                    {% if user|check_edit_course_permission:course %}
                        <a href="{% url 'frontend:course-edit' pk=course.pk %}" class="dropdown-item">
                            {% fa5_icon "pencil-alt" "fas" %} {% trans "Edit Course" %}
                        </a>
                        <a href="{% url 'frontend:course-edit-structure' pk=course.pk %}" class="dropdown-item">
                            {% fa5_icon "pencil-alt" "fas" %} {% trans "Edit Structure" %}
                        </a>
                        <a href="{% url 'frontend:course-history' pk=course.pk %}" class="dropdown-item">
                            {% fa5_icon "history" "fas" %} {% trans "View History" %}
                        </a>
                        <a href="{% url 'frontend:course-delete' pk=course.pk %}" class="dropdown-item">
                            {% fa5_icon "trash" "fas" %} {% trans "Delete Course" %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {# Course header: Title, owners, description #}
    <h1>
        {{ course.title }}
    </h1>

    <h5 style="margin-top: 16px;">
        {% for owner in course.owners.all %}
            <a href="{% url 'frontend:profile' pk=owner.pk %}"
               class="{% if owner == user.profile %}text-danger{% endif %}">
                {% fa5_icon 'chalkboard-teacher' 'fas' %} {{ owner }}
            </a>
        {% endfor %}
    </h5>

    <div class="media">
        <div class="media-body">
            {% if course.description %}
                <h2 class="mt-0 mb-1" style="text-align: justify">{% trans 'Description' %}</h2>
                {{ course.description | linebreaks }}
            {% endif %}
        </div>
        {% if course.image %}
            <img src="{{ course.image.url }}" class="ml-3" style="
            width: 250px; height: 250px; object-fit: cover; border-radius: calc(0.25rem - 1px);"
                 alt="{% trans 'Course picture' %}">
        {% else %}
            <span style="font-size: 100px">{% fa5_icon 'book' 'fas' %}</span>{% endif %}
    </div>

    {# Table of contents #}
    <div class="mt-3">
        <button class="btn btn-primary float-left mr-1" type="button" data-toggle="collapse"
                data-target="#collapseToc"
                aria-expanded="false" aria-controls="collapseToc">
            {% fa5_icon 'bars' 'fas' %}
        </button>
        <h2>
            {% trans 'Table of Contents' %}
        </h2>
        <div class="row collapse show" id="collapseToc" style="margin-top: 16px;">
            <div class="col-md-4">
                <ol class="list-group" style="font-weight: bold;">
                    {% for entry in structure %}
                        <li class="list-group-item">
                            {% with forloop.counter as outer_index %}
                                <a href="#{{ entry.topic.pk }}">{{ outer_index }}. {{ entry.topic.title }}
                                    <span class="badge badge-primary badge-pill badge-light">
                                    {{ entry.topic.contents.count }}
                                </span>
                                </a>
                                {# Show (up to one level of) subtopics in ToC #}
                                {% if entry.subtopics %}
                                    <ol class="list-group">
                                        {% for subtopic in entry.subtopics %}
                                            <li class="list-group-item" style="border: none;">
                                                <a href="#{{ subtopic.topic.pk }}">{{ outer_index }}.{{ forloop.counter }}. {{ subtopic.topic.title }}
                                                    <span class="badge badge-primary badge-pill badge-light">
                                                    {{ subtopic.topic.contents.count }}
                                                </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            {% endwith %}
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% trans "No topics yet" %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    {# Display coursebook  #}
    {% include 'frontend/course/coursebook.html' %}


    <div class="mt-3" style="margin-top: 16px;">
        <form id="filter+sort" class="form-inline" method="post"
              action="{% url 'frontend:course' course.id %}">
            {% csrf_token %}
            {% for f in filter_sort %}
                <div class="form-group" style="margin-right: 10px">
                    <div style="padding-right: 10px">
                        {{ f.label }}
                    </div>
                    {{ f }}
                </div>
            {% endfor %}
        </form>
    </div>

    {# Display course contents #}
    <div class="mt-3" style="margin-top: 16px;">
        {% for entry in structure %}
            <div id='{{ entry.topic.pk }}'>
                {% with forloop.counter as outer_index %}
                    {# Filters, Ordering, Add contents #}
                    <div class="float-right text-right">
                        {% with entry.topic as entry_topic %}
                            {% add_content_button user course.id entry_topic.id %}
                        {% endwith %}
                    </div>
                    <h3 class="text-info">
                        {{ outer_index }}. {{ entry.topic.title }}
                    </h3>
                    {% with entry.topic_contents as topic_contents %}
                        {% include "frontend/course/topic_contents.html" %}
                    {% endwith %}

                    {#  Show subtopics #}
                    {% if entry.subtopics %}
                        {% for subtopic in entry.subtopics %}
                            <div id='{{ subtopic.topic.pk }}'>
                                <div class="float-right text-right">
                                    {% with subtopic.topic as subtopic_topic %}
                                        {% add_content_button user course.id subtopic_topic.id %}
                                    {% endwith %}
                                </div>
                                <h4 class="text-info">
                                    {{ outer_index }}.{{ forloop.counter }}. {{ subtopic.topic.title }}
                                </h4>

                                {% with subtopic.topic_contents as topic_contents %}
                                    {% include "frontend/course/topic_contents.html" %}
                                {% endwith %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        {% empty %}
            <h3>
                {% trans "No Topics" %}
            </h3>
            <p>
                {% trans "This course doesn't have topics at the moment." %}
            </p>
        {% endfor %}
    </div>
{% endblock %}s
