{% load i18n %}

{% block reading_header %}
    {# Insert header information here #}
{% endblock %}

<div class="container" style="padding-top:1em;padding-bottom: 1em;">
    {% block reading_content %}
        {# Insert reading mode content here #}
    {% endblock %}

    {# Description #}
    {% if content.description %}
        <div class="mt-5">
            <h4>
                {% trans 'Description' %}
            </h4>
            {{ content.description|linebreaks }} <!-- resolves to s -->
        </div>
    {% endif %}
</div>