{% load i18n %}

<img src="{{ content.imagecontent.image.url }}" alt="{{ content.description }}"
     style="max-width: 100%; display: block;
    margin: 16px auto;">

<div class="container" style="padding-top:1em;padding-bottom: 1em;">
    <b>
        {% trans 'Source' %}:
    </b>
    <p>
        {{ content.imagecontent.source }}
    </p>

    <p>
        {% if content.imagecontent.license %}
            <b>
                {% trans "License" %}:
            </b>
            {{ content.imagecontent.license }}

        {% endif %}
    </p>

    {% include 'content/reading_mode/Description.html' %}
</div>