{% load i18n %}
<img src="{{ content.imagecontent.image.url }}" alt="{{ content.description }}"
     style="max-width: 100%; display: block;
    margin: 16px auto;">
<div class="container" style="padding-top:1em;padding-bottom: 1em;">
    <b>
        {% trans 'Source' %}:
    </b>
    {{ content.imagecontent.source }}

    <p>
        {% if content.imagecontent.license %}
            <b>
                {% trans "License" %}:
            </b>
            {{ content.imagecontent.license }}

        {% endif %}
    </p>
    {# Description of the content #}
    {% if content.description %}
        <div class="mt-5">
            <h4>
                {% trans 'Description' %}
            </h4>
            {{ content.description|linebreaks }} <!-- resolves to s -->
        </div>
    {% endif %}
</div>