{% load i18n %}

<div class="row">
    <div class="col">
        <embed src="{{ content.pdfcontent.pdf.url }}" type="application/pdf" height="700px" width="100%">
    </div>
</div>

<div class="container" style="padding-top:1em;padding-bottom: 1em;">
    <p>
        <b>
            {% trans 'Source' %}:
        </b>
        {{ content.pdfcontent.source }}
    </p>
    <p>
        {% if content.pdfcontent.license %}
            <b>
                {% trans 'License' %}:
            </b>
            {{ content.pdfcontent.license }}
        {% endif %}
    </p>
    {# Description of the content #}
    {% if content.description %}
        <div class="mt-5">
            <h4>
                {% trans 'Description' %}
            </h4>
            {{ content.description|linebreaks }} <!-- resolves to s -->
        </div>
    {% endif %}
</div>