{% extends 'content/reading_mode/base.html' %}

{# Load the tag library #}
{% load i18n %}

{% block reading_header %}
    <div class="row">
        <div class="col">
            <embed src="{{ content.pdfcontent.pdf.url }}" type="application/pdf" height="700px" width="100%">
        </div>
    </div>
{% endblock %}



{% block reading_content %}
    <b>
        {% trans 'Source' %}:
    </b>

    <p>
        {{ content.pdfcontent.source }}
    </p>

    <p>
        {% if content.pdfcontent.license %}
            <b>
                {% trans 'License' %}:
            </b>
            {{ content.pdfcontent.license }}
        {% endif %}
    </p>
{% endblock %}