{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block content %}
    <h1>
        {% trans "Dashboard" %}
    </h1>

    
    {% if user.profile.stared_courses.count > 0 %}
        <h3 class="text-success" style="margin-top: 40px;">
            {% fa5_icon 'bookmark' 'fas' %} {% trans 'Stared Courses' %}
        </h3>
        <div class="row">
            {% for course in user.profile.stared_courses.all %}
                {% include 'frontend/course_lists/card_course.html' %}
            {% endfor %}
        </div>
    {% endif %}

    <h3 class="text-info" style="margin-top: 40px;">
        {% fa5_icon 'school' 'fas' %} {% trans 'All Courses by Period' %}
    </h3>
    <div class="row">
        {% for period in periods %}
            {% include 'frontend/course_lists/card_period.html' %}
        {% endfor %}
    </div>

    <h3 class="text-warning" style="margin-top: 40px;">
        {% fa5_icon 'school' 'fas' %} {% trans 'All Courses by Category' %}
    </h3>
    <div class="row">
        {% for category in categories %}
            {% cycle 'bg-warning' 'bg-success' 'bg-info' 'bg-primary' as bgcolor silent %}
            {% include 'frontend/course_lists/card_category.html' %}
        {% endfor %}
    </div>
    <h3 class="text-danger" style="margin-top: 40px;">
        {% fa5_icon 'chalkboard-teacher' 'fas' %} {% trans 'Your Courses' %}
    </h3>
    <div class="row">
        {% for course in user.profile.owned_courses.all %}
            {% cycle 'bg-warning' 'bg-success' 'bg-info' 'bg-primary' as bgcolor silent %}
            {% include 'frontend/course_lists/card_course.html' %}
        {% endfor %}
        {% include 'frontend/course_lists/card_create_course.html' %}
    </div>

{% endblock %}
