{% extends "frontend/base.html" %}

{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

{% block general_content %}
    <div class="container-fluid" style="min-height:75vh;background-color: #0a3d62;padding-top:2em;padding-bottom:2em;">
        <div class="container" style="border-top: 0.5em solid #ffffff;padding-top:2em;">
            {% include "frontend/messages.html" %}

            {% if user.is_authenticated %}
                <div class="float-right" style="color: #ffffff;font-weight: bold;">
                    {{ user.get_username }}&nbsp;&nbsp;<a href="{% url "cas_ng_logout" %}" class="btn btn-primary" style="">Logout</a>
                </div>
            {% endif %}

            <h1 style="font-size: 5em;color:#ffffff;margin-top: 15vh;">Collab<br>Coursebook</h1>
            <p style="color: #ffffff;font-size: 2em;">
                Create content. Store knowledge. Learn together.
            </p>
            <div style="margin-top:2em;">
                {% if not user.is_authenticated %}
                    <a href="{% url "cas_ng_login" %}" class="btn btn-outline-warning" style="font-size: 2em;">{% trans "Login" %}</a>
                {% else %}
                    <a href="{% url "frontend:dashboard" %}" class="btn btn-outline-warning" style="font-size: 2em;">{% trans "Go to dashboard" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 20vh;"></div>
{% endblock %}
