{% load i18n %}
{% load fontawesome_5 %}

{% if user.is_authenticated %}
    <div class="float-right" style="color: #ffffff;font-weight: bold;">

        <form class="form-inline float-left" action="{% url 'frontend:search' %}">
            <input class="form-control" type="search" name="q" placeholder="{% trans 'Search' %}" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">{% fa5_icon "search" "far" %}</button>
        </form>

        <a href="{% url "frontend:courses" %}" class="btn btn-primary" style="">{% trans "All Courses" %}</a>
        {% if user.is_superuser %}
            <a href="{% url "admin:index" %}" class="btn btn-danger" style="">{% trans "Admin Menu" %}</a>
            &nbsp;
        {% endif %}
        <a href="{% url 'frontend:profile' pk=user.profile.pk %}" class="text-decoration-none text-white">{{ user.get_username }}</a>
        &nbsp;
        <a href="{% url "cas_ng_logout" %}" class="btn btn-primary" style="">{% trans "Logout" %}</a>
    </div>
{% endif %}

    <a href="{% url "frontend:dashboard" %}" style="color: #ffffff;text-decoration: none;"><h4 style="font-weight: bold;display: inline;">Collab Coursebook</h4></a>
