{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load fontawesome_5 %}

{% block title %}
    {% trans 'Search' %} - Collab Coursebook
{% endblock %}

{% block imports %}
    {# Load CSS #}
    <link rel="stylesheet" href="{% static 'vendor/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-chosen.css' %}">
{% endblock %}

{% block content %}
    <h1>
        {% trans 'Search Results for ' %}"{{ search_query }}"
    </h1>
    <h3>
        {% trans 'Courses' %}
    </h3>
    {% if search_data.courses %}
        <ul style="list-style-type: none;">
            {% for course in search_data.courses %}
                <li>{{ forloop.counter }}.
                    <a href="{% url 'frontend:course' course.id %}">
                        <b>
                            {{ course.title }}
                        </b>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            {% trans 'No courses found' %}
        </p>
    {% endif %}

    <h3>
        Topics
    </h3>
    {% if search_data.course_structure_entries %}
        <ul style="list-style-type: none;">
            {% for entry in search_data.course_structure_entries %}
                <li>{{ forloop.counter }}.
                    <a href="{% url 'frontend:course' entry.course.id %}">
                        {{ entry.course.title }}: <b>{{ entry.topic.title }}</b>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            {% trans 'No topics found' %}
        </p>
    {% endif %}
    <h3>
        Contents
    </h3>

    {% if search_data.content_list %}
        <ul style="list-style-type: none;">
            <small class="form-text text-muted">
                {% trans "Contents are sorted by Courses -> Topics." %}
            </small>
            {% for entry, contents in search_data.content_list %}
                <li>{{ forloop.counter }}.
                    {{ entry.course.title }} -> {{ entry.topic.title }}:
                    {% for content in contents %}
                        <ul>
                            <li>
                            <a href="{% url 'frontend:content' entry.course.id entry.topic.id content.pk %}">
                                <b> {% if content.description %}
                                        {{ content.description }}
                                    {% else %}
                                        {{ content.type }} Content
                                    {% endif %}
                                </b>
                            </a>
                            </li>
                        </ul>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            {% trans 'No contents found' %}
        </p>
    {% endif %}
{% endblock %}

{% block bottom_script %}
    {# Load JavaScript #}
    <script src="{% static 'vendor/chosen-js/chosen.jquery.js' %}"></script>

    <script type='text/javascript'>
        $(function () {
            $(".chosen-select").chosen();
        });
    </script>
{% endblock %}
