{% extends 'frontend/base_logged_in.html' %}

{# Load the tag library #}
{% load static %}
{% load i18n %}
{% load django_bootstrap5  %}
{% load fontawesome_6 %}

{% block title %}
    {% trans 'Tutorial' %} - Collab Coursebook
{% endblock %}

{% block content %}
    <h1> Collab Coursebook Tutorial </h1>

    <div>
        <h5>
            {% blocktrans trimmed%}
                Welcome to the “Collab Coursebook” tutorial! In this tutorial we will present our website and clarify
                its various functions.
            {% endblocktrans %}
        </h5>

        <div class="text-center">
            <a href="{% url "frontend:dashboard" %}" class="btn btn-primary">{% trans "Skip tutorial, go directly to dashboard" %}</a>
        </div>
    </div>
    <hr>
    {% include 'frontend/tutorial/navbar.html' %}
    <hr>
    {% include 'frontend/tutorial/course.html' %}
    <hr>
    {% include 'frontend/tutorial/edit_course.html' %}
    <hr>
    {% include 'frontend/tutorial/moderator.html' %}
    <hr>
    {% include 'frontend/tutorial/edit_structure.html' %}
    <hr>
    {% include 'frontend/tutorial/content.html' %}
    <hr>
    {% include 'frontend/tutorial/add_content.html' %}
    <hr>
    {% include 'frontend/tutorial/history.html' %}
    <hr>
    {% include 'frontend/tutorial/history_compare.html' %}

    <div class="text-center">
        <a href="{% url "frontend:dashboard" %}" class="btn btn-primary">{% trans "Go to dashboard" %}</a>
    </div>

{% endblock %}