{# Load the tag library #}
{% load i18n %}
{% load django_bootstrap5  %}
{% load static %}
{% load fontawesome_6 %}
{% load cc_frontend_tags %}

<div class="card ms-3 mt-3" style="width: 20rem;">
    {% if course.moderators.all %}
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill" 
        style="font-size: 1.25em; background-color: #0a3d62;">
            {% trans 'Official' %}
        </span>
    {% endif %}
    <a href="{% url 'frontend:course' pk=course.pk %}">
        <div class="card-img-top">
            {% if course.image %}
                <img src="{{ course.image.url }}" class="card-img-top" alt="Course Title Image" width="286"
                     height="180" style="width:100%;height:180px;object-fit: cover;">
            {% else %}
                <div class="card-img-top {{ bgcolor }}" style="width:100%;height:180px;object-fit: cover;"></div>
            {% endif %}
        </div>
    </a>

    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'frontend:course' pk=course.pk %}">
                {{ course.title|slice:':33' }}
                {% if course.title|length >= 33 %}
                    ...
                {% endif %}
            </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {% if course in user.profile.stared_courses.all %}
                {% fa6_icon 'bookmark' 'fas' %}
            {% endif %}
            {% if user.profile in course.owners.all %}
                {% fa6_icon 'chalkboard-teacher' 'fas' %}
            {% endif %}
            {{ course.owners.all|join:', ' }}
        </h6>

        <p class="card-text" style="color: #444444">
            {{ course.description|slice:':150' }}
            {% if course.description|length >= 146 %}
                ...
            {% endif %}
        </p>
    </div>

    <div class="card-footer bg-transparent"
         style="font-size: 14px; color: #343a40 ">
        <div style="float: left">
            <!-- TODO Insert correct topic referencing -->
            {% trans 'Contents' %}: {{ course.topics.all|count_content }}
        </div>
        <div style="float: right" title="Creation Date">
            {{ course.creation_date|date:'d.m.Y' }}
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
