{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome_5 %}

{% load cc_frontend_tags %}

<div class="card ml-3 mt-3 text-center" style="width: 20rem;">
    <a href="{% url "frontend:add-course" %}">
        <div class="card-img-top">
            <div class="card-img-top text-white"
                 style="width:100%;height:180px;object-fit: cover;background-color: #eeeeee;font-size: 120px;">
                {% fa5_icon "plus" "fas" %}
            </div>
        </div>
    </a>

    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url "frontend:add-course" %}">
                {% trans "Create a new course" %}
            </a>
        </h5>
    </div>
</div>
