{% extends 'frontend/base_logged_in.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome_5 %}

{% load cc_frontend_tags %}


{# title block #}
{% block title %}{% trans "Courses" %} - Collab Coursebook{% endblock %}

{# content block #}
{% block content %}
    <div class="row mt-3">
        <div class="col-md">
            <h1>All Courses{% if sort %} ({{ sort }}){% endif %}</h1>
        </div>
        <div class="col-md-auto my-auto">
                <button class="dropdown btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by: {{ sort }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'frontend:courses-sort' sort='date-new' %}">Date (newest)</a>
                    <a class="dropdown-item" href="{% url 'frontend:courses-sort' sort='date-old' %}">Date (oldest)</a>
                    <a class="dropdown-item" href="{% url 'frontend:courses-sort' sort='title-a' %}">Title (A-Z)</a>
                    <a class="dropdown-item" href="{% url 'frontend:courses-sort' sort='title-z' %}">Title (Z-A)</a>
                </div>
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href=""
                   title="Add new Course">{% fa5_icon 'plus' 'fas' %} Course</a>
            {% endif %}
        </div>
    </div>


    {% include "frontend/course_lists/course_cards_paginated.html" %}
{% endblock %}
