{% load i18n %}

{% if courses %}
    <div class="row">
        {% for course in courses %}
            {% cycle 'bg-warning' 'bg-success' 'bg-info' 'bg-primary' as bgcolor silent %}
            {% include "frontend/course_lists/card_course.html" %}
        {% endfor %}
    </div>
{% else %}
    <p>{% trans "No matching courses found" %}</p>
{% endif %}


{% if courses|length > 0 %}
    <div class="pagination mt-3">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">

                    <a class="page-link" href="?page=1">&lt;&lt;</a>

                </li>
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link"
                       href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}{% endif %}">&lt;</a>
                </li>

                {% for page_number in paginator.page_range %}
                    <li class="page-item {% if forloop.counter == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}

                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link"
                       href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}{% endif %}">&gt;</a>
                </li>
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ paginator.num_pages }}">&gt;&gt;</a>
                </li>
            </ul>
        </nav>
    </div>
{% endif %}
