{% extends 'frontend/base_logged_in.html' %}

{% load static %}
{% load i18n %}
{% load django_bootstrap5  %}
{% load fontawesome_6 %}

{% block title %}
    {% trans 'Edit profile' %} - Collab Coursebook
{% endblock %}

{% block content %}
    <h1>{% trans 'Edit your profile' %}</h1>

    {# User profile information #}
    <form method="POST" class="post-form" enctype=multipart/form-data>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}

            <a href="{% url 'frontend:profile' pk=user.pk %}" class="btn btn-primary">
                {% fa6_icon "times" 'fas' %} {% trans 'Cancel' %}
            </a>
            <button type="submit" class="save btn btn-primary float-end">
                {% fa6_icon "check" 'fas' %} {% trans 'Submit' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
